
venv/
externals/output/
pipelines/tests/temp/*
erna/erna/settings/*.env*


# 
*/__pycache__/
erna/*/__pycache__/
erna/*/*/__pycache__/
erna/*/migrations/
erna/rna_seq/*/migrations/
pipelines/*/__pycache__/
pipelines/*/*/__pycache__/

# database
erna/db.sqlite3
erna/erna/db.sqlite3

# 
.ctab
.ipynb_checkpoints
.err.log
