celery==5.3.4
Django==4.2.6
djangorestframework==3.14.0
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-cors-headers==4.3.0
python-decouple==3.8
redis==5.0.1
sqlalchemy
sh
python-dotenv
requests
xml

biopython
pysam

numpy
pandas
scipy
anndata
scanpy
